body {
    min-height: 100vh;       /* Fylder hele skærmhøjden */
    display: flex;            /* Flex-layout */
    flex-direction: column;   /* Elementer stablet lodret */
}

header{
background:#3a332e;
padding:30px;
text-align:center;
font-size:40px;
}
.container {
    flex: 1;                  /* Fylder al plads mellem header og footer */
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #3a332e;
}
